if SHIELD_PRETAPORTER_R

config ZMK_KEYBOARD_NAME
    default "pretaporter_r"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PRETAPORTER_L

config ZMK_KEYBOARD_NAME
    default "pretaporter_l"

config ZMK_SPLIT
    default y

endif
