#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#define MOUSE 5
#define SCROLL 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q    &kp W      &kp E     &kp R     &kp T                                   &kp Y      &kp U  &kp U      &kp O    &kp P
&kp A    &kp S      &kp D     &kp F     &kp G                                   &kp H      &kp J  &kp K      &kp L    &kp MINUS
&kp Z    &kp X      &kp C     &kp V     &kp B      &kp COLON          &kp SEMI  &kp N      &kp M  &kp COMMA  &kp DOT  &kp SLASH
&kp ESC  &kp LCTRL  &kp LALT  &kp LGUI  &kp SPACE  &kp BSPC           &kp RGUI  &kp ENTER                    &kp ESC  &kp ESC
            >;
            sensor-bindings = <C_VOL_UP C_VOL_DN>;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans   &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans   &trans                  &trans  &trans
            >;
            sensor-bindings = <C_VOL_UP C_VOL_DN>;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans   &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans   &trans                  &trans  &trans
            >;
            sensor-bindings = <C_VOL_UP C_VOL_DN>;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans   &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans   &trans                  &trans  &trans
            >;
            sensor-bindings = <C_VOL_UP C_VOL_DN>;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans   &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans   &trans                  &trans  &trans
            >;
            sensor-bindings = <C_VOL_UP C_VOL_DN>;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &mo 6     &trans    &trans
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                    &trans    &trans
            >;
            sensor-bindings = <C_VOL_UP C_VOL_DN>;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans   &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans   &trans                  &trans  &trans
            >;
            sensor-bindings = <C_VOL_UP C_VOL_DN>;
        };
    };
};
